# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Environment
.env
venv/
ENV/
env/

# Django static/media
staticfiles/
media/

# VSCode or PyCharm settings
.vscode/
.idea/

# OS
*.DS_Store
Thumbs.db
